footer#colophon {
	padding-top: 6.55rem;
	
	.site-info {
		padding-bottom: 3.95rem;		
	}
	
	.logo-wrap {
		padding-top: 1.2rem;
		padding-bottom: 2.1rem;
	}
	
	.address-wrap {
		padding-top: 1.2rem;
		a {
			color: $black;
		}
	}
	
	.footer-contact-link {
		padding-bottom: 1.1rem;
	}
	
	.footer-contact-link,
	ul#footer-links {
		a {
			font-family: $font-brandon;
			font-weight: 500;
			font-size: rem-calc(14);
			line-height: 1.1;				
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: $black;
		}
	}
	
	.footer-contact-link,
	ul#footer-links ul.sub-menu {
		list-style: none;
		margin: 0 0 2rem;
		padding: 0;
		a {
			font-size: rem-calc(16);
			line-height: 1.1;
			color: #4F5153;
		}
	}
	
	ul#footer-links {
		justify-content: space-between;
		margin-left: -1rem;
		margin-right: -1rem;
	}
	
	.copyright {
		color: #4F5153;
		padding-top: .55rem;
		padding-bottom: .55rem;
		p {
			margin-bottom: 0;
		}
	}
	
}
