header.site-header {
	z-index: 5;
	transition: transform .5s ease;
	
	.top-bar .top-bar-left, .top-bar .top-bar-right {
		flex: 1 1 auto;
		margin-right: auto;
	}
	
	.logo {
		padding-left: 0.57rem;
	}
	
	a {
		font-family: $font-brandon;
		color: $brand-blue;
	}
	
	// .top-bar,
	// .utility-nav {
	// 	max-width: 1400px;
	// 	margin: auto;
	// }
	
	.utility-nav {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			border: 0.25px solid $dark-gray;
			left: -1rem;
			right: -1rem;
		}
		li {
			width: auto;
			a {
				font-weight: 600;
				font-size: rem-calc(12);
				line-height: 1.1;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				&:hover {
					background-color: $brand-green;
					color: $white;
				}
				svg path {
					
				}
			}
		}
		#social-links {
			a {
				padding: 8px;
				&:hover {
					svg path {
						fill: $white;
					}
				}
			}
		}
	}
	
	#top-bar-menu {
		
		li.logo {
			@include breakpoint(small down) {
				max-width: 140px;
			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			li {
				a {					
					span {
						padding: 0.28rem 0;
						display: inline-block;
						border-bottom: 0px solid $brand-green;
					}
					
					&:hover {
						background-color: $brand-green;
						color: $white;
					}
				}
				&.current-menu-item,
				&.current-page-parent {
					> a {
						span {
							border-width: 0 0 2px 0 !important;
						}
					}
				}
			}
			>li {
				margin: 0 .3rem 0rem;
				
				> a {
					font-size: rem-calc(21);
					text-transform: uppercase;
					letter-spacing: 2.1px;
					padding: 1.78rem 0.5rem 1.78rem;
					position: relative;
					
					@include breakpoint(tablet) {
						text-transform: uppercase;
						font-size: rem-calc(14);
						letter-spacing: 1.4px;
					}
				}
				
			&.menu-item-has-children {
				
				ul.submenu {
					padding-top: .5rem;
					left: 50%;
					transform: translateX(-50%);
					li {
						a {
							text-align: center;
							font-size: rem-calc(14);
							letter-spacing: .05em;
							line-height: 1.1;
						}
						

						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $brand-blue;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}