.h-100 {
	height: 100%;
}

.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.font-brandon {
	font-family: $font-brandon;
}

.link-14 {
	font-family: $font-brandon;
	display: inline-block;
	padding: 0.15rem 0;
	font-size: rem-calc(14);
	font-weight: 800;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	position: relative;
	border-bottom: 2px solid $brand-green;
&.color-white {
	border-color: $white;
}
}

.relative {
	position: relative;
}

.green-bg,
.blue-bg {
	h2,
	h3,
	p {
		color: $white;
	}
}

.white-bg {
	background-color: $white;
}

.green-bg {
	background-color: $brand-green;
}

.blue-bg {
	background-color: $brand-blue;
	h2,
	h3,
	p {
		color: $white;
	}
}

.light-gray-bg {
	background-color: $light-gray;
}

.sky-blue-bg,
.blue-bg {
	color: $white;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		color: $white;
	}
}

.sky-blue-bg {
	background-color: $brand-sky-blue;
}

.color-blue {
	color: $brand-blue;
}

.color-white {
	color: $white;
}

.m-0 {
	margin: 0;	
}

.grid-container.grid-16-container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.grid-x.grid-16 {
	> .cell {
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 16px;
	}
}

.grid-x.grid-20 {
	> .cell {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
}

.white-bg {
	background-color: $white;
}