table.tablepress {
	border-color: $dark-gray;
	text-align: left;
	tbody,
	tfoot,
	thead {
		border-color: $dark-gray;
	}
	thead {
		background-color: $light-gray;
		color: $brand-blue;
		font-family: $font-brandon;
		text-transform: uppercase;
		font-size: rem-calc(22);
	}
	thead th,
	tbody td,
	tbody th {
		padding: 0.75rem 1.625rem 0.725rem;
	}
	tbody tr:nth-child(2n) {
		background-color: $light-gray;
	}
}