.banner {
	overflow: hidden;
	h1 {
		text-transform: none;
	}
	
	p {
		font-weight: 500;
		font-size: rem-calc(19.6);
		line-height: 1.5;
		@include breakpoint(medium) {
			font-size: rem-calc(28);
		}
	}
	
	.btn-wrap {
		padding-top: 1.5rem;
	}
	
	.banner-border {
		height: 28px;
		margin-top: -28px;
		position: relative;
		z-index: 1;
		
		&:before,
		&:after {
			content: '';
			display: block;
			width: calc(50% - 40px);
			position: absolute;
			height: 28px;
			background-color: $brand-green;
			transition: all .3s ease;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}	
		span {
			height: 131px;
			display: inline-block;
			position: relative;
			transform: translateY(-31px);
			svg {
				max-height: 131px;
				path {
					transition: all .3s ease
				}
			}
		}
	}
	
&[color-theme="color-theme-green"] {
	.banner-border {
		&:before,
		&:after {
			background-color: $brand-green;
		}
		svg path {
			fill: $brand-green;
		}
	}
	.swiper-pagination.banner-swiper-pagination .swiper-pagination-bullet-active {
		background-color: $brand-green;	
	}
}
	
&[color-theme="color-theme-purple"] {
	a.button {
		background-color: $brand-purple;	
		&:hover {
			background-color: scale-color($brand-purple, $lightness: -15%)
		}
	}
	.banner-border {
		&:before,
		&:after {
			background-color: $brand-purple;
		}
		svg path {
			fill: $brand-purple;
		}
	}
	.swiper-pagination.banner-swiper-pagination .swiper-pagination-bullet-active {
		background-color: $brand-purple;	
	}
}
	
&[color-theme="color-theme-sky-blue"] {
	a.button {
		background-color: $brand-sky-blue;	
		&:hover {
			background-color: scale-color($brand-sky-blue, $lightness: -15%)
		}
	}
	.banner-border {
		&:before,
		&:after {
			background-color: $brand-sky-blue;
		}
		svg path {
			fill: $brand-sky-blue;
		}
	}
	.swiper-pagination.banner-swiper-pagination 
		.swiper-pagination-bullet-active {
		background-color: $brand-sky-blue;	
	}
}
	
&.default-banner {
	.bg.mask {
		background-color: rgba($white, .5);
	}
	.inner {
		min-height: 200px;
		@include breakpoint(medium) {
			min-height: 355px;
		}
		.cell {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
		
}
	
&.banner-slider {
	position: relative;
	overflow: visible;
	.inner-banner {
		overflow: hidden;
	}
	.swiper-container {
		position: relative;
	}
	.swiper-slide {
		height: auto;
		width: 100%;
		&:not(.first) {
			.bg.mask {
				background-color: rgba($white, .5);
			}
		}
	&.first {
		h1,
		p {
			color: $white;
		}
	}
	}
	.inner {
		height: 100%;
		min-height: 269px;	
		@include breakpoint(medium) {
			min-height: 569px;	
		}
		.cell {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
}

}

.swiper-pagination.banner-swiper-pagination {
	bottom: -32px;
	.swiper-pagination-bullet {
		opacity: 1;
		width: 12px;
		height: 12px;
		background-color: $dark-gray; 
		transition: all .3s ease;
	}
}