.banner {
	overflow: hidden;
	
	p {
		font-weight: 500;
		font-size: rem-calc(19.6);
		line-height: 1.5;
		@include breakpoint(medium) {
			font-size: rem-calc(28);
		}
	}
	
	.banner-border {
		height: 28px;
		margin-top: -28px;
		position: relative;
		z-index: 1;
		
		&:before,
		&:after {
			content: '';
			display: block;
			width: calc(50% - 40px);
			position: absolute;
			height: 28px;
			background-color: $brand-green;
			transition: all .3s ease
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}	
		span {
			height: 131px;
			display: inline-block;
			position: relative;
			transform: translateY(-31px);
			svg {
				max-height: 131px;
				path {
					transition: all .3s ease
				}
			}
		}
	}
	
&[color-theme="color-theme-green"] {
		.banner-border {
			&:before,
			&:after {
				background-color: $brand-green;
			}
			svg path {
				fill: $brand-green;
			}
		}
	}
	
&[color-theme="color-theme-purple"] {
	.banner-border {
		&:before,
		&:after {
			background-color: $brand-purple;
		}
		svg path {
			fill: $brand-purple;
		}
	}
}
	
&[color-theme="color-theme-sky-blue"] {
	.banner-border {
		&:before,
		&:after {
			background-color: $brand-sky-blue;
		}
		svg path {
			fill: $brand-sky-blue;
		}
	}
}
	
&.default-banner {
	.bg.mask {
		background-color: rgba($white, .5);
	}
	.inner {
		min-height: 355px;
		.cell {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
		
}
	
&.banner-slider {
	.swiper-slide {
		height: auto;
		width: 100%;
	}
	.inner {
		height: 100%;
		min-height: 569px;	
		.cell {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
}

}