.blue-background-cta {
	padding-top: 3.1rem;
	padding-bottom: 2.67rem;
	
	@include breakpoint(medium) {
		padding-top: 5.1rem;
		padding-bottom: 4.67rem;
	}
	
	@include breakpoint(medium down) {
		.left {
			margin-bottom: 3rem;
		}
	}
	
	.img-wrap {
		max-width: 461px;
		margin: auto;
	}
	.btn-wrap {
		padding-top: 1rem;
		@include breakpoint(medium) {
			padding-top: 2.42rem;
		}
	}
}