.centered-copy {
	padding-top: 4.7rem;
	padding-bottom: 2.75rem;
	.icons-labels {
		padding-top: 0.95rem;
		.cell {
			margin-bottom: 2rem;
			max-width: 182px;
			.img-wrap {
				margin-bottom: 0.5rem;
			}
		}
	}
	.copy-wrap {
		p:last-child {
			margin-bottom: 2.34rem;
		}
	}

}