.download {
	padding-top: 5.6875rem;
	padding-bottom: 5.6875rem;
	.right {
		.grid-x {
			padding: 3.2rem;
			ul,
			ol{
				margin-bottom: 0;
			}
		}
	}
	
	@include breakpoint(tablet) {
		.left {
			padding-right: 0;
			height: auto;
			.img-wrap {
				position: relative;
				overflow: hidden;
				height: auto;
				width: 100%;
				img {
					width: 100%;
					height: 100%;
					position: absolute;
					object-fit: cover;
				}
			}
		}
		.right {
			min-height: 202px;
			padding-left: 0;
		}
	}
	
}